@font-face {
    font-family: "PTSansRegular";
    src: url("fonts/PTSansRegular/PTSansRegular.eot");
    src: url("fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("fonts/PTSansBold/PTSansBold.eot");
    src: url("fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --pinkish-orange: #ff6633;
    --black: #222222;
    --warm-grey: #999999;
    --white: #dddddd;
    --white: #ffffff;
    --pinkish-grey: #cccccc;
    --brownish-grey: #666666;
}

body {
    font-family: PTSansRegular;
}

.limit {
    min-width: 992px;
}

.active-nav {
    color: #ffffff !important;
}

.navbar {
    border-radius: 0;
    background-color: #222222;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 24px !important;
    letter-spacing: 2px;
    line-height: 1.2;
}

.navbar-nav {
    height: 60px;
    margin: 0;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #cccccc;
    padding: 0;
}

.navbar-nav li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(243, 238, 238, 0);
}
.custom-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: rgba(8, 8, 8, 0);
}

.user-profile {
    color: #ffffff !important;
    background-color: rgba(8, 8, 8, 0) !important;

}

.notifications {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    line-height: 3 !important;
}

.notifications img {
    width: 18px;
}

.notifications-diod {
    border-radius: 50%;
    width: 6px;
    background-color: #ff6633;
    height: 6px;
    position: absolute;
    margin-left: 13px;
    margin-top: 2px;
    line-height: 2;
}

.balance {

}

.balance span {
    color: #ffffff !important;
}

.glyphicon-rub {
    font-size: 11px;
}

.nav-right-custom a {
    color: #ffffff;
}

.faq-icon img {
    width: 20px;
}

.faq-icon {
    padding-left: 0 !important;
}

.task-container {
    height: 135px;
    border-bottom: 1px solid #cccccc;
}

.task-cat {
    margin-top: 29px;
    display: inline-block;
}

.task-cat-item {
    color: #999999;
    margin-right: 25px;
    font-size: 16px;
    padding-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 0.1s;
}

.dropdown-notifications
{
    padding-top: 18px !important;
}

.task-cat-item:hover {
    color: #222222 !important;
    border-bottom: 1px solid #ff6633;
    transition: 0.1s;
}

.task-selected {
    color: #222222 !important;
    border-bottom: 1px solid #ff6633;
    transition: 0.1s;
}

.task-count {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-left: 7px;
    color: #999999;
    font-size: 10px;
}

.task-count-active {
    background-color: #FF6633;
    border: 1px solid #FF6633;
    color: #ffffff;
}

.task-filter {
    margin-top: 45px;
}

.custom-input {
    font-size: 14px !important;
    border-radius: 2px;
}

.custom-check {
    line-height: 2.5;
    display: inline-block;
    margin-right: 27px;
    height: 25px;

}

.custom-check input {
    font-size: 16px;
}

.custom-check span {
    margin-left: 8px;
}

.user-filter {
    display: inline-block;
    color: #222222;
    line-height: 2.5;
}

.dropdown-user-filter {
    display: inline-block;
}

.task-filters {
    color: #999999;
}

.task-table {
    margin-top: 45px;
}

.task-table-header {
    font-size: 12px;
    color: #999999;
}

.add-button {
    width: 54px;
    height: 54px;
    color: #FFFFFF;
    background-color: #ff6633;
    border-radius: 50%;
    text-align: center;
    line-height: 4.9;
    fill: #ffffff;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.26);
    position: absolute;
    margin-top: 108px;
}

.add-button-position {
    position: relative;
    width: 54px;
    float: right;
}

.table > thead > tr > th {
    border-bottom: 1px solid #cccccc;
}

th {
    padding-left: 0 !important;
}

td {
    padding-left: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    vertical-align: middle !important;
    font-size: 16px;
}

.table-cell-id {
    padding-right: 50px !important;
}

.table-cell-cityname {
    padding-right: 80px !important;
}

.table-cell-name {
    padding-right: 70px !important;
}

.table-cell-data {
    padding-right: 30px !important;
    min-width: 110px;
}

.table-cell-sum {
    padding-right: 20px !important;
    min-width: 100px;
}
svg:not(:root) {
    overflow: hidden;
    margin-top: 15px;
}