<nav class="navbar navbar-inverse">
  <div class="container limit">

    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="">taskon</a>
      <li [routerLink]="['TaskComponent']"><a href="">Задания</a></li>
      <li [routerLink]="['CompanyComponent']"><a  href="">Финансы</a></li>
      <li [routerLink]="['FinanceComponent']"><a href="">Компания</a></li>
      <li [routerLink]="['StatisticsComponent']"><a href="">Статистика</a></li>
    </ul>

    <ul class="nav navbar-nav  navbar-right nav-right-сustom">
      <li class="balance"> <a>Баланс <span class="">345 234,90</span> <span class="glyphicon glyphicon glyphicon-rub" aria-hidden="true"></span></a></li>
      <li class="dropdown dropdown-notifications">
        <a href="#" class="dropdown-toggle notifications" data-toggle="dropdown">
          <div class="notifications-diod"></div>
          <img class="one"src="images/notifications.png">
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Уведомление 1</a></li>
          <li><a href="#">Уведомление 2</a></li>
          <li><a href="#">Уведомление 3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle user-profile" data-toggle="dropdown">Никита Ласточкин <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Настройки профиля</a></li>
          <li><a href="#">Запрос</a></li>
          <li><a href="#">Что-то еще</a></li>
          <li class="divider"></li>
          <li><a href="#">Выход</a></li>
        </ul>
      </li>
      <li>
        <a class="faq-icon" href="">
          <img src="images/faq.png" alt="">
        </a>
      </li>

    </ul>


  </div>
</nav>


<div class="container-fluid task-container">
  <router-outlet></router-outlet>
</div>