<div class="container limit">

    <div class="add-button-position">
        <div class="add-button"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></svg></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Задания</h2>
        </div>
        <div class="col-md-12 task-cat">
            <span [class.task-selected]="stateTasks == 'new'" (click)="changeState('new')" class="task-cat-item">Новые<span class="badge task-count">{{stCount.new}}</span></span>
            <span [class.task-selected]="stateTasks == 'in'" (click)="changeState('in')" class="task-cat-item">В работе<span class="badge task-count">{{stCount.in}}</span></span>
            <span [class.task-selected]="stateTasks == 'underConsideration'" (click)="changeState('underConsideration')" class="task-cat-item">На рассмотрении<span class="badge task-count">{{stCount.underConsideration}}</span></span>
            <span [class.task-selected]="stateTasks == 'done'" (click)="changeState('done')" class="task-cat-item">Выполнены<span class="badge task-count">{{stCount.done}}</span></span>
            <span [class.task-selected]="stateTasks == 'canceled'" (click)="changeState('canceled')" class="task-cat-item">Отменены<span class="badge task-count">{{stCount.canceled}}</span></span>
            <span [class.task-selected]="stateTasks == 'draft'" (click)="changeState('draft')" class="task-cat-item">Черновики<span class="badge task-count">{{stCount.draft}}</span></span>
        </div>
    </div>
</div>

<div class="container task-filter limit">

    <span class="custom-check"><input [(ngModel)]="sText" class="form-control custom-input"  placeholder="Поиск по слову"></span>
    <span class="custom-check"><input [(ngModel)]="checkBoxState.personal" type="checkbox"><span>Персональный</span></span>
    <span class="custom-check"><input [(ngModel)]="checkBoxState.night" type="checkbox"><span>Ночное</span></span>
    <span class="custom-check"><input [(ngModel)]="checkBoxState.urgent" type="checkbox"><span>Срочное</span></span>
        <span class="custom-check">
          <li class="dropdown dropdown-user-filter">
              <a href="#" class="dropdown-toggle user-filter" data-toggle="dropdown">Никита Ласточкин <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Настройки профиля</a></li>
                  <li><a href="#">Запрос</a></li>
                  <li><a href="#">Что-то еще</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Выход</a></li>
              </ul>
          </li></span>

    <div class="row task-table">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class = "task-table-header">
                    <th>ID</th>
                    <th>Город</th>
                    <th>Название</th>
                    <th>Выполнить до</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#task of tasks | stateFilter:stateTasks | searchText:sText | propertyFilter:{personal:checkBoxState.personal,night:checkBoxState.night,urgent:checkBoxState.urgent}">
                    <td class="table-cell-id">{{task.id}}</td>
                    <td class="table-cell-cityname">{{task.city.name}}</td>
                    <td class="table-cell-name">{{task.name}}</td>
                    <td class="table-cell-data">{{task.data}}</td>
                    <td class="table-cell-sum">{{task.sum}}<span class="glyphicon glyphicon glyphicon-rub" aria-hidden="true"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>